# Load and clean data

Creates 5 clean tables

exports them to Data/Processed

Inventory.csv:
-   ItemID - Gives the ItemID
-   Description - Gives the Item Description

OpeningStock.csv:
-   StoreID - StoreID
-   onHand - How Much Stock is on hand
-   startDate - 2015-12-31 stock taken for the start of 2016
-   ItemId - Gives the ItemID

Purchases.csv
-   StoreID - StoreID
-   PODate - Purchase Order Date
-   ReceivingDate - Order Revieved Date
-   Quantity - Quantity Recieved in Order
-   ItemId - Gives the ItemID 

Sales.csv
-   StoreID - StoreID
-   SalesQuantity - Quantity of item sold
-   SalesDate - Date that the sale took place
-   ItemId - Gives the ItemID 

Stores.csv
-   StoreID - StoreID
-   Location - Location of the store

In [ ]:
import sys
import os

# Add the root directory to the system path
# This is necessary to import modules from the root directory
sys.path.append("../..")
from DataPrep.data_load import run_inventory_analysis

# run the inventory analysis and set download and process values
dfs = run_inventory_analysis(download=False, process=True)

for name, df in dfs.items():
    print(f"== {name.upper()} ==")
    display(df.head())

Processing sales data...

c:\Users\edcul\OneDrive\Documents\Work\Modules\Year 3\MLG 382\Project\MLG382_CYO_Project\src\DataPrep\data_load.py:129: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy['Store'] = split_cols[0]

Processing purchases data...

c:\Users\edcul\OneDrive\Documents\Work\Modules\Year 3\MLG 382\Project\MLG382_CYO_Project\src\DataPrep\data_load.py:159: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Processing opening stock data...

c:\Users\edcul\OneDrive\Documents\Work\Modules\Year 3\MLG 382\Project\MLG382_CYO_Project\src\DataPrep\data_load.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Creating inventory master...
Creating stores file...
All processing complete!
== SALES ==

  StoreID  SalesQuantity SalesDate ItemId
0       1              1  1/1/2016   1004
1       1              2  1/2/2016   1004
2       1              1  1/3/2016   1004
3       1              1  1/8/2016   1004
4       1              2  1/9/2016   1005

== PURCHASES ==

   StoreID      PODate ReceivingDate  Quantity ItemId
3        1  2015-12-22    2016-01-01         6   5255
6        1  2015-12-20    2016-01-01        12   8358
9        1  2015-12-20    2016-01-01        23   4233
10       1  2015-12-20    2016-01-01         6   3830
40       1  2015-12-20    2016-01-01        11   4670

== OPENING_STOCK ==

  StoreID  onHand   startDate ItemId
0       1       8  2015-12-31     58
1       1       7  2015-12-31     60
2       1       6  2015-12-31     62
3       1       3  2015-12-31     63
4       1       6  2015-12-31     72

== INVENTORY ==

    ItemID                  Description
0     1004   Jim Beam w/2 Rocks Glasses
4     1005      Maker's Mark Combo Pack
8    10058  F Coppola Dmd Ivry Cab Svgn
17    1006  Jim Beam Candy Cane 4/50mLs
18   10062            Terroirs du Rhone

== STORES ==

     StoreID      Location
0          1  HARDERSFIELD
3255       2      ASHBORNE