# --------------------------------------------------------

## Step 1) Import Libraries

In [20]:
#Libraries
import os
import shutil
import pandas as pd
import kagglehub

# --------------------------------------------------------

## Step 2) Download Dataset

the following script downloads and moves the dataset to root/Data/Raw

set to `False` if you already have the dataset

In [21]:
RUN_DOWNLOAD = False

In [22]:
if RUN_DOWNLOAD:
    # Download the dataset
    download_path = kagglehub.dataset_download("bhanupratapbiswas/inventory-analysis-case-study")

    # Define the target directory
    target_dir = os.path.abspath("../../Data/Raw")

    # Make sure the target directory exists
    os.makedirs(target_dir, exist_ok=True)

    # Move all files (not folders) from download_path to target_dir
    for filename in os.listdir(download_path):
        src = os.path.join(download_path, filename)
        dst = os.path.join(target_dir, filename)

        if os.path.isfile(src):
            shutil.move(src, dst)

    print("Files moved to:", target_dir)
else:
    print("Download block skipped.")

Download block skipped.

# --------------------------------------------------------

## Step 3) Create Clean CSV files

Start pulling data from dataset to produce clean csv files ready for the inventory ledger

In [23]:
# Set file paths
raw_path = '../../Data/Raw/'
processed_path = '../../Data/Processed/'

# Create processed directory if it doesn't exist
os.makedirs(processed_path, exist_ok=True)

In [29]:
# Function to split composite InventoryId
def split_inventory_id(df):
    split_cols = df['InventoryId'].str.split('_', expand=True)
    df['Store'] = split_cols[0]
    df['Location'] = split_cols[1]
    df['ItemId'] = split_cols[2]
    df.drop(columns=['InventoryId'], inplace=True)
    return df

In [40]:
# Create Sales.csv (Store, ItemId, SalesQuantity, SalesDate)
# Load the Sales.csv file
sales_file = os.path.join(raw_path, 'SalesFINAL12312016.csv')
sales_df = pd.read_csv(sales_file)

# Clean Sales.csv
# 1. Keep only relevant columns (no need for Location, it's handled in Stores.csv)
sales_cleaned = sales_df[[
    'InventoryId',
    'Store',
    'SalesQuantity',
    'SalesDate'
]]

# 2. Strip whitespace and filter for stores "1" and "2"
sales_cleaned['Store'] = sales_cleaned['Store'].astype(str).str.strip()
sales_cleaned = sales_cleaned[sales_cleaned['Store'].isin(['1', '2'])]

# Apply split function to separate the composite InventoryId
sales_cleaned = split_inventory_id(sales_cleaned)

# Drop the Location column after splitting the InventoryId
sales_cleaned.drop(columns=['Location'], inplace=True)

# Save the cleaned Sales.csv
sales_cleaned.to_csv(os.path.join(processed_path, 'Sales.csv'), index=False)

sales_cleaned.head()

C:\Users\edcul\AppData\Local\Temp\ipykernel_13052\1455098466.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_cleaned['Store'] = sales_cleaned['Store'].astype(str).str.strip()

  Store  SalesQuantity SalesDate ItemId
0     1              1  1/1/2016   1004
1     1              2  1/2/2016   1004
2     1              1  1/3/2016   1004
3     1              1  1/8/2016   1004
4     1              2  1/9/2016   1005

In [42]:
# Create Purchases.csv (Store, PODate, ReceivingDate, Quantity)
# Load the Purchases.csv file
purchases_file = os.path.join(raw_path, 'PurchasesFINAL12312016.csv')
purchases_df = pd.read_csv(purchases_file)

# Clean Purchases.csv
# 1. Keep only relevant columns
purchases_cleaned = purchases_df[[
    'InventoryId',
    'Store',
    'PODate',
    'ReceivingDate',
    'Quantity'
]]

# 2. Strip whitespace and filter for stores "1" and "2"
purchases_cleaned['Store'] = purchases_cleaned['Store'].astype(str).str.strip()
purchases_cleaned = purchases_cleaned[purchases_cleaned['Store'].isin(['1', '2'])]

# Apply split function
purchases_cleaned = split_inventory_id(purchases_cleaned)

# Drop the Location column after splitting the InventoryId
purchases_cleaned.drop(columns=['Location'], inplace=True)

# Save the cleaned Purchases.csv
purchases_cleaned.to_csv(os.path.join(processed_path, 'Purchases.csv'), index=False)

purchases_cleaned.head()

C:\Users\edcul\AppData\Local\Temp\ipykernel_13052\1185703073.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchases_cleaned['Store'] = purchases_cleaned['Store'].astype(str).str.strip()

   Store      PODate ReceivingDate  Quantity ItemId
3      1  2015-12-22    2016-01-01         6   5255
6      1  2015-12-20    2016-01-01        12   8358
9      1  2015-12-20    2016-01-01        23   4233
10     1  2015-12-20    2016-01-01         6   3830
40     1  2015-12-20    2016-01-01        11   4670

In [43]:
# Create OpeningStock.csv (Store, Location, ItemId, onHand, startDate)
# Load the beginning inventory file
beg_inv_file = os.path.join(raw_path, 'BegInvFINAL12312016.csv')
beg_inv_df = pd.read_csv(beg_inv_file)

# ðŸ§¹ Clean BegInvFINAL12312016.csv
# 1. Keep only relevant columns
beg_inv_cleaned = beg_inv_df[[
    'InventoryId',
    'Store',
    'onHand',
    'startDate'
]]

# 2. Strip whitespace from Store and keep only store "1" and "2"
beg_inv_cleaned['Store'] = beg_inv_cleaned['Store'].astype(str).str.strip()
beg_inv_cleaned = beg_inv_cleaned[beg_inv_cleaned['Store'].isin(['1', '2'])]

# 3. Replace the startDate with 2015-12-31
beg_inv_cleaned['startDate'] = '2015-12-31'

# Apply split function
beg_inv_cleaned = split_inventory_id(beg_inv_cleaned)

# Drop the Location column after splitting the InventoryId
beg_inv_cleaned.drop(columns=['Location'], inplace=True)


# Save the cleaned beginning inventory
beg_inv_cleaned.to_csv(os.path.join(processed_path, 'OpeningStock.csv'), index=False)

beg_inv_cleaned.head()

C:\Users\edcul\AppData\Local\Temp\ipykernel_13052\4007246911.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  beg_inv_cleaned['Store'] = beg_inv_cleaned['Store'].astype(str).str.strip()

  Store  onHand   startDate ItemId
0     1       8  2015-12-31     58
1     1       7  2015-12-31     60
2     1       6  2015-12-31     62
3     1       3  2015-12-31     63
4     1       6  2015-12-31     72

In [38]:
# Create Inventory.csv (Brand, Description)
# Pull Brand and Description from original CSVs
sales_info = sales_df[['Brand', 'Description']]
purchases_info = purchases_df[['Brand', 'Description']]
opening_info = beg_inv_df[['Brand', 'Description']]

# Combine and deduplicate
inventory_df = pd.concat([sales_info, purchases_info, opening_info])
inventory_df.drop_duplicates(subset=['Brand', 'Description'], keep='first', inplace=True)

# Save Inventory Master file
inventory_df.to_csv(os.path.join(processed_path, 'Inventory.csv'), index=False)

inventory_df.head()

    Brand                  Description
0    1004   Jim Beam w/2 Rocks Glasses
4    1005      Maker's Mark Combo Pack
8   10058  F Coppola Dmd Ivry Cab Svgn
17   1006  Jim Beam Candy Cane 4/50mLs
18  10062            Terroirs du Rhone

In [ ]:
# Create Stores.csv (Store, Location)
# Extract Store and Location from InventoryId composite key
stores_df = inventory_df[['Store', 'Location']].drop_duplicates()
stores_df.to_csv(os.path.join(processed_path, 'Stores.csv'), index=False)

stores_df.head()

      Store      Location
0         1  HARDERSFIELD
17790    10       HORNSEY
35327    11       CARDEND
48733    12       LEESIDE
54866    13    TARMSWORTH